@tailwind base;

@tailwind components;

@tailwind utilities;

.teal {
  color: #009688;
}
.bg-teal {
  color: white;
  background-color: #009688;
}
.bg-teal {
  color: white;
  background-color: #009688;
}
.bg-ecru-white {
  background-color: #f3efe0;
}

/* .detail-block:not(:last-of-type)  {
  
} */
.detail-block:last-child {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
  }
}

.w14em {
  width: 14em;
}

.mw1100px {
  max-width: 1100px;
}
